<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История прихода</title>
    <link rel="stylesheet" href="/css/style.css?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div th:replace="~{fragments :: header('История прихода')}"></div>

<main>
    <p>Здесь будет отображаться история прихода денег.</p>
</main>

<div th:replace="~{fragments :: footer}"></div>

<script src="/js/main.js"></script>
</body>
</html>