<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
    <link rel="stylesheet" href="/css/style.css?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div th:replace="~{fragments :: header('Настройки')}"></div>

<main>
    <h2>Настройки</h2>
    <div class="settings-section">
        <label for="theme-toggle">Тема:</label>
        <div class="theme-toggle-wrapper">
            <span>Светлая</span>
            <label class="switch">
                <input type="checkbox" id="theme-toggle">
                <span class="slider round"></span>
            </label>
            <span>Темная</span>
        </div>
    </div>
</main>

<div th:replace="~{fragments :: footer}"></div>

<script src="/js/main.js"></script>
</body>
</html>